@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido!</h1>
</div>

<div class="text-center">
    <a asp-controller="Country" asp-action="Index">Países.</a>
</div>
<div class="text-center">
    <a asp-area="" asp-controller="NationalTeam" asp-action="Index">Selecciones nacionales.</a>
</div>

<div class="text-center">
    <a asp-controller="GroupStage" asp-action="Assign">Asignar una selección nacional a un grupo.</a>
</div>
